html,body {
    height:590;
    width:355;
}
header {
    font-family: Arial;
    font-size: larger;
    text-align: center;
    color:white;
    background-color:black;
    height:30;
    padding-top: 7px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:#dddddd;
}

th {
    color:black;
    font-size:23;
    background-color: hotpink;
    border-color:black
}
/* a differnt color pink: rgba(255, 105, 180, 0.61);*/

td {
    font-size:15;
    font-weight:bold;
    color:grey;
    border:4px solid hotpink;
    
}


img {
    height:40;
    float: right;
}

p {
    font-size:16;
    font-weight:bold;
    color: black;
}
 

 p1 {
     float:right;
     font-size: 11;
 }
 